<html>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css"/>

<body>
<div class="home1exellenton">
  <div style="width: 375px; height: 100%; position:relative; margin:auto;">
    <div class="backgroundlevel1">
      <img class="rectangle" src="/stylesheets/images/home---1-exellenton-rectangle.png"/>
    </div>
    <div class="underbar">
      <img class="rectangle2" src="/stylesheets/images/home---1-exellenton-rectangle-2.png"/>
      <img class="path3" src="/stylesheets/images/home---1-exellenton-path-3.png"/>
    </div>
    <div class="reservationoffcopy">
      <div class="uc608uc57dubaa8ub4dccopy">
        예약 모드
      </div>
      <div class="rectangle9copy">
      </div>
      <img class="oval11" src="/stylesheets/images/home---1-exellenton-oval-11@2x.png"/>
      <img class="rectangle9copy2" src="/stylesheets/images/home---1-exellenton-rectangle-9-copy-2@2x.png"/>
      <img class="rectangle9copy3" src="/stylesheets/images/home---1-exellenton-rectangle-9-copy-2@2x.png"/>
      <img class="oval11copy" src="/stylesheets/images/home---1-exellenton-oval-11-copy@2x2x.png"/>
      <img class="oval11copy4" src="/stylesheets/images/home---1-exellenton-oval-11-copy-4@2x.png"/>
      <img class="oval11copy5" src="/stylesheets/images/home---1-exellenton-oval-11-copy-4@2x.png"/>
      <img class="oval11copy2" src="/stylesheets/images/home---1-exellenton-oval-11-copy-2@2x.png"/>
      <img class="oval12copy3" src="/stylesheets/images/home---1-exellenton-oval-12-copy-2@2x.png"/>
    </div>
    <div class="sleepoffcopy">
      <div class="ucde8uce68ubaa8ub4dccopy">
        취침 모드
      </div>
      <img class="oval10copy" src="/stylesheets/images/home---1-exellenton-oval-10-copy@2x.png"/>
      <img class="oval12copy2" src="/stylesheets/images/home---1-exellenton-oval-12-copy-2@2x.png"/>
    </div>
    <div class="lowpoweroffcopy">
      <div class="uc800uc804ub825ubaa8ub4dc">
        저전력 모드
      </div>
      <div class="combinedshapecopy3">
      </div>
      <div class="rectangle5copy">
      </div>
      <div class="rectangle9copy4">
      </div>
      <img class="oval12copy" src="/stylesheets/images/home---1-exellenton-oval-12-copy-2@2x.png"/>
    </div>
    <div class="useroncopy">
      <div class="uc0acuc6a9uc790ubaa8ub4dccopy">
        사용자 모드
      </div>
      <img class="oval12" src="/stylesheets/images/home---1-exellenton-oval-12@2x.png"/>
      <img class="combinedshape" src="/stylesheets/images/home---1-exellenton-combined-shape@2x.png"/>
      <img class="oval8copy" src="/stylesheets/images/home---1-exellenton-oval-8-copy@2x.png"/>
    </div>
    <div class="moreinformation">
      <img class="path2" src="/stylesheets/images/home---1-exellenton-path-2@2x.png"/>
    </div>
    <div class="exellent">
      <div class="exellent">
        Exellent !
      </div>
    </div>
    <div class="exellenttip">
      <div class="ub0a0uc528uac00uc88buc73cub2c8uc0b0ucc45ud574ubcf4uc2dcub294uac74uc5b4ub5a0uc2e0">
        날씨가 좋으니 산책해보시는 건 어떠신가요?
      </div>
    </div>
    <img class="oval8" src="/stylesheets/images/home---1-exellenton-oval-5@2x.png"/>
    <img class="oval7" src="/stylesheets/images/home---1-exellenton-oval-5@2x.png"/>
    <img class="oval6" src="/stylesheets/images/home---1-exellenton-oval-5@2x.png"/>
    <img class="oval5" src="/stylesheets/images/home---1-exellenton-oval-5@2x.png"/>
    <img class="oval4" src="/stylesheets/images/home---1-exellenton-oval-5@2x.png"/>
    <img class="oval3" src="/stylesheets/images/home---1-exellenton-oval-5@2x.png"/>
    <img class="oval2" src="/stylesheets/images/home---1-exellenton-oval-5@2x.png"/>
    <img class="oval1" src="/stylesheets/images/home---1-exellenton-oval-5@2x.png"/>
    <div class="mainpowericon1" id="actionBtn">
      <img class="oval" src="/stylesheets/images/home---1-exellenton-oval@2x.png"/>
    </div>
    <div class="pm10">
      <span id="pmValue"></span>
      <div class="pgu33a5">
        pg / ㎥
      </div>
    </div>
    <div class="statusbarcopy">
      <div class="statusbarbg">
      </div>
      <div class="a1230">
        12:30
      </div>
      <img class="bounds" src="/stylesheets/images/home---1-exellenton-bounds@2x.png"/>
      <img class="shape" src="/stylesheets/images/home---1-exellenton-shape@2x.png"/>
      <img class="bounds1" src="/stylesheets/images/home---1-exellenton-bounds 1@2x.png"/>
      <img class="shape1" src="/stylesheets/images/home---1-exellenton-shape 1@2x.png"/>
      <img class="bounds2" src="/stylesheets/images/home---1-exellenton-bounds 2@2x.png"/>
      <img class="shape2" src="/stylesheets/images/home---1-exellenton-shape 2@2x.png"/>
    </div>
    <div class="menu">
      <img class="path" src="/stylesheets/images/home---1-exellenton-path@2x.png"/>
      <img class="path1" src="/stylesheets/images/home---1-exellenton-path 1@2x.png"/>
      <img class="path2" src="/stylesheets/images/home---1-exellenton-path 2@2x.png"/>
    </div>
    <div class="placename">
      <div class="placename">
        Place name
      </div>
    </div>
    <div class="adddevicebutton">
      <img class="shape" src="/stylesheets/images/home---1-exellenton-shape 3@2x.png"/>
    </div>
    <form id="postdata" method="POST" action="/messages">
      <input type="submit" name="" id="postDiv">
    </form>
  </div>
</div>
</body>
<script src="/js/jquery.min.js"></script>
  <script src="/js/main.js"></script>
</html>
